.comp {
    background-image: url("O.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    background-image: url("X.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.body {
    background-color: #545f7d;
}

.score {
    margin-left: 500px;
    font-size: 70px;
    color: aliceblue;
}

.user, .comp, .draw {
    margin-left: 450px;
    font-size: 50px;
    color: aliceblue;
}

.content {
    width: 380px;
    height: 380px;
    margin: 250px auto;
    background-color: #44425e;
}

.cell {
    float: left;
    height: 96px;
    width: 96px;
    margin: 15px;
    mso-linked-frame: auto;
}

.cell:hover {
    background-color: #514e5e;
}

.linear {
    position: absolute;
}

.line1, .line2, .line3, .line4 {
    width: 380px;
    height: 18px;
    position: absolute;
    user-select: none;
}

.line1 {
    margin-top: 117px;
}

.line2 {
    margin-top: 242px;
}

.line3 {
    margin-top: 181px;
    margin-left: -64px;
    transform: rotate(90deg);
}

.line4 {
    margin-top: 181px;
    margin-left: 64px;
    transform: rotate(90deg);
}

